/*
 * The EBI Search: RESTful Web services
 * This is an API documentation for [EBI Search](https://www.ebi.ac.uk/ebisearch) RESTful Web services.
 *
 * The version of the OpenAPI document: all
 * Contact: www-prod@ebi.ac.uk
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package eu.dissco.digitisers.clients.ebi.openapi.rest;

import eu.dissco.digitisers.clients.ebi.openapi.ApiCallback;
import eu.dissco.digitisers.clients.ebi.openapi.ApiClient;
import eu.dissco.digitisers.clients.ebi.openapi.ApiException;
import eu.dissco.digitisers.clients.ebi.openapi.ApiResponse;
import eu.dissco.digitisers.clients.ebi.openapi.Configuration;
import eu.dissco.digitisers.clients.ebi.openapi.Pair;
import eu.dissco.digitisers.clients.ebi.openapi.ProgressRequestBody;
import eu.dissco.digitisers.clients.ebi.openapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import eu.dissco.digitisers.clients.ebi.openapi.model.WSError;
import eu.dissco.digitisers.clients.ebi.openapi.model.WSSearchResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MoreLikeThisApi {
    private ApiClient localVarApiClient;

    public MoreLikeThisApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MoreLikeThisApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for morelikethis1
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call morelikethis1Call(String domain, String entryid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/{domain}/entry/{entryid}/morelikethis"
            .replaceAll("\\{" + "domain" + "\\}", localVarApiClient.escapeString(domain.toString()))
            .replaceAll("\\{" + "entryid" + "\\}", localVarApiClient.escapeString(entryid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (start != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start", start));
        }

        if (fields != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fields", fields));
        }

        if (fieldurl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fieldurl", fieldurl));
        }

        if (viewurl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("viewurl", viewurl));
        }

        if (mltfields != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mltfields", mltfields));
        }

        if (mintermfreq != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mintermfreq", mintermfreq));
        }

        if (mindocfreq != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mindocfreq", mindocfreq));
        }

        if (maxqueryterm != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxqueryterm", maxqueryterm));
        }

        if (excludes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("excludes", excludes));
        }

        if (excludesets != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("excludesets", excludesets));
        }

        if (format != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("format", format));
        }

        if (entryattrs != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("entryattrs", entryattrs));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (accept != null) {
            localVarHeaderParams.put("Accept", localVarApiClient.parameterToString(accept));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/xml", "application/json", "text/csv", "text/tab-separated-values"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call morelikethis1ValidateBeforeCall(String domain, String entryid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'domain' is set
        if (domain == null) {
            throw new ApiException("Missing the required parameter 'domain' when calling morelikethis1(Async)");
        }
        
        // verify the required parameter 'entryid' is set
        if (entryid == null) {
            throw new ApiException("Missing the required parameter 'entryid' when calling morelikethis1(Async)");
        }
        

        okhttp3.Call localVarCall = morelikethis1Call(domain, entryid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs, _callback);
        return localVarCall;

    }

    /**
     * More like this in a same domain
     * It returns similar entries to an entry. In order to get better results it is necessary to tune parameters
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @return WSSearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public WSSearchResult morelikethis1(String domain, String entryid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs) throws ApiException {
        ApiResponse<WSSearchResult> localVarResp = morelikethis1WithHttpInfo(domain, entryid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs);
        return localVarResp.getData();
    }

    /**
     * More like this in a same domain
     * It returns similar entries to an entry. In order to get better results it is necessary to tune parameters
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @return ApiResponse&lt;WSSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<WSSearchResult> morelikethis1WithHttpInfo(String domain, String entryid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs) throws ApiException {
        okhttp3.Call localVarCall = morelikethis1ValidateBeforeCall(domain, entryid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs, null);
        Type localVarReturnType = new TypeToken<WSSearchResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * More like this in a same domain (asynchronously)
     * It returns similar entries to an entry. In order to get better results it is necessary to tune parameters
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call morelikethis1Async(String domain, String entryid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs, final ApiCallback<WSSearchResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = morelikethis1ValidateBeforeCall(domain, entryid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs, _callback);
        Type localVarReturnType = new TypeToken<WSSearchResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for morelikethisInDomain1
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param targetdomainid A single domain identifier to search on (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call morelikethisInDomain1Call(String domain, String entryid, String targetdomainid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/{domain}/entry/{entryid}/morelikethis/{targetdomainid}"
            .replaceAll("\\{" + "domain" + "\\}", localVarApiClient.escapeString(domain.toString()))
            .replaceAll("\\{" + "entryid" + "\\}", localVarApiClient.escapeString(entryid.toString()))
            .replaceAll("\\{" + "targetdomainid" + "\\}", localVarApiClient.escapeString(targetdomainid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (start != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start", start));
        }

        if (fields != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fields", fields));
        }

        if (fieldurl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fieldurl", fieldurl));
        }

        if (viewurl != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("viewurl", viewurl));
        }

        if (mltfields != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mltfields", mltfields));
        }

        if (mintermfreq != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mintermfreq", mintermfreq));
        }

        if (mindocfreq != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("mindocfreq", mindocfreq));
        }

        if (maxqueryterm != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("maxqueryterm", maxqueryterm));
        }

        if (excludes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("excludes", excludes));
        }

        if (excludesets != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("excludesets", excludesets));
        }

        if (format != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("format", format));
        }

        if (entryattrs != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("entryattrs", entryattrs));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (accept != null) {
            localVarHeaderParams.put("Accept", localVarApiClient.parameterToString(accept));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/xml", "application/json", "text/csv", "text/tab-separated-values"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call morelikethisInDomain1ValidateBeforeCall(String domain, String entryid, String targetdomainid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'domain' is set
        if (domain == null) {
            throw new ApiException("Missing the required parameter 'domain' when calling morelikethisInDomain1(Async)");
        }
        
        // verify the required parameter 'entryid' is set
        if (entryid == null) {
            throw new ApiException("Missing the required parameter 'entryid' when calling morelikethisInDomain1(Async)");
        }
        
        // verify the required parameter 'targetdomainid' is set
        if (targetdomainid == null) {
            throw new ApiException("Missing the required parameter 'targetdomainid' when calling morelikethisInDomain1(Async)");
        }
        

        okhttp3.Call localVarCall = morelikethisInDomain1Call(domain, entryid, targetdomainid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs, _callback);
        return localVarCall;

    }

    /**
     * More like this
     * It returns similar entries in a target domain to an entry. In order to get better results it is necessary to tune parameters
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param targetdomainid A single domain identifier to search on (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @return WSSearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public WSSearchResult morelikethisInDomain1(String domain, String entryid, String targetdomainid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs) throws ApiException {
        ApiResponse<WSSearchResult> localVarResp = morelikethisInDomain1WithHttpInfo(domain, entryid, targetdomainid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs);
        return localVarResp.getData();
    }

    /**
     * More like this
     * It returns similar entries in a target domain to an entry. In order to get better results it is necessary to tune parameters
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param targetdomainid A single domain identifier to search on (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @return ApiResponse&lt;WSSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<WSSearchResult> morelikethisInDomain1WithHttpInfo(String domain, String entryid, String targetdomainid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs) throws ApiException {
        okhttp3.Call localVarCall = morelikethisInDomain1ValidateBeforeCall(domain, entryid, targetdomainid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs, null);
        Type localVarReturnType = new TypeToken<WSSearchResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * More like this (asynchronously)
     * It returns similar entries in a target domain to an entry. In order to get better results it is necessary to tune parameters
     * @param domain A single domain identifier (required)
     * @param entryid A single entry identifier of a base entry (required)
     * @param targetdomainid A single domain identifier to search on (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param start The index of the first entry in the results. limit 1,000,000 (optional, default to &quot;0&quot;)
     * @param fields Comma separated values of field identifiers to retrieve (optional)
     * @param fieldurl Whether field links are included. The returned links mean direct URLs to the data entries in the original portals. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param viewurl Whether other view links on an entry are included. Valid with XML/JSON only (optional, default to &quot;false&quot;)
     * @param mltfields Comma separated values of field identifiers to be used for generating a query (optional)
     * @param mintermfreq The minimum term frequency. Any terms whose frequency is below this value will be ignored from forming a final query (optional, default to &quot;1&quot;)
     * @param mindocfreq The minimum document frequency. Any terms which do not occur in at least this number of entries will be ignored (optional, default to &quot;5&quot;)
     * @param maxqueryterm The maximum number of query terms that will be included in any generated query (max. 25) (optional, default to &quot;10&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param entryattrs Comma separated values of additional entry attributes. Valid with XML/JSON only. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of entries </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call morelikethisInDomain1Async(String domain, String entryid, String targetdomainid, String accept, String size, String start, String fields, String fieldurl, String viewurl, String mltfields, String mintermfreq, String mindocfreq, String maxqueryterm, String excludes, String excludesets, String format, String entryattrs, final ApiCallback<WSSearchResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = morelikethisInDomain1ValidateBeforeCall(domain, entryid, targetdomainid, accept, size, start, fields, fieldurl, viewurl, mltfields, mintermfreq, mindocfreq, maxqueryterm, excludes, excludesets, format, entryattrs, _callback);
        Type localVarReturnType = new TypeToken<WSSearchResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
