/*
 * The EBI Search: RESTful Web services
 * This is an API documentation for [EBI Search](https://www.ebi.ac.uk/ebisearch) RESTful Web services.
 *
 * The version of the OpenAPI document: all
 * Contact: www-prod@ebi.ac.uk
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package eu.dissco.digitisers.clients.ebi.openapi.rest;

import eu.dissco.digitisers.clients.ebi.openapi.ApiCallback;
import eu.dissco.digitisers.clients.ebi.openapi.ApiClient;
import eu.dissco.digitisers.clients.ebi.openapi.ApiException;
import eu.dissco.digitisers.clients.ebi.openapi.ApiResponse;
import eu.dissco.digitisers.clients.ebi.openapi.Configuration;
import eu.dissco.digitisers.clients.ebi.openapi.Pair;
import eu.dissco.digitisers.clients.ebi.openapi.ProgressRequestBody;
import eu.dissco.digitisers.clients.ebi.openapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import eu.dissco.digitisers.clients.ebi.openapi.model.WSError;
import eu.dissco.digitisers.clients.ebi.openapi.model.WSTopTermsResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TopTermsApi {
    private ApiClient localVarApiClient;

    public TopTermsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TopTermsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for topterms1
     * @param domain A single domain identifier (required)
     * @param fieldid A single field identifier (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of top terms </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call topterms1Call(String domain, String fieldid, String accept, String size, String excludes, String excludesets, String format, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/{domain}/topterms/{fieldid}"
            .replaceAll("\\{" + "domain" + "\\}", localVarApiClient.escapeString(domain.toString()))
            .replaceAll("\\{" + "fieldid" + "\\}", localVarApiClient.escapeString(fieldid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (excludes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("excludes", excludes));
        }

        if (excludesets != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("excludesets", excludesets));
        }

        if (format != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("format", format));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (accept != null) {
            localVarHeaderParams.put("Accept", localVarApiClient.parameterToString(accept));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/xml", "application/json", "text/csv", "text/tab-separated-values"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call topterms1ValidateBeforeCall(String domain, String fieldid, String accept, String size, String excludes, String excludesets, String format, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'domain' is set
        if (domain == null) {
            throw new ApiException("Missing the required parameter 'domain' when calling topterms1(Async)");
        }
        
        // verify the required parameter 'fieldid' is set
        if (fieldid == null) {
            throw new ApiException("Missing the required parameter 'fieldid' when calling topterms1(Async)");
        }
        

        okhttp3.Call localVarCall = topterms1Call(domain, fieldid, accept, size, excludes, excludesets, format, _callback);
        return localVarCall;

    }

    /**
     * Top terms
     * It returns a list of top terms of a field
     * @param domain A single domain identifier (required)
     * @param fieldid A single field identifier (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @return WSTopTermsResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of top terms </td><td>  -  </td></tr>
     </table>
     */
    public WSTopTermsResult topterms1(String domain, String fieldid, String accept, String size, String excludes, String excludesets, String format) throws ApiException {
        ApiResponse<WSTopTermsResult> localVarResp = topterms1WithHttpInfo(domain, fieldid, accept, size, excludes, excludesets, format);
        return localVarResp.getData();
    }

    /**
     * Top terms
     * It returns a list of top terms of a field
     * @param domain A single domain identifier (required)
     * @param fieldid A single field identifier (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @return ApiResponse&lt;WSTopTermsResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of top terms </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<WSTopTermsResult> topterms1WithHttpInfo(String domain, String fieldid, String accept, String size, String excludes, String excludesets, String format) throws ApiException {
        okhttp3.Call localVarCall = topterms1ValidateBeforeCall(domain, fieldid, accept, size, excludes, excludesets, format, null);
        Type localVarReturnType = new TypeToken<WSTopTermsResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Top terms (asynchronously)
     * It returns a list of top terms of a field
     * @param domain A single domain identifier (required)
     * @param fieldid A single field identifier (required)
     * @param accept Accept request HTTP header (optional)
     * @param size The number of entries to retrieve. limit 100 (optional, default to &quot;15&quot;)
     * @param excludes Comma separated values of terms to be excluded (e.g. stop-words) (optional)
     * @param excludesets Comma separated values of stop-word sets to be excluded (optional)
     * @param format Response format (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Invalid parameters </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> A list of top terms </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call topterms1Async(String domain, String fieldid, String accept, String size, String excludes, String excludesets, String format, final ApiCallback<WSTopTermsResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = topterms1ValidateBeforeCall(domain, fieldid, accept, size, excludes, excludesets, format, _callback);
        Type localVarReturnType = new TypeToken<WSTopTermsResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
